.event-container {
  display: flex;
  overflow-x: scroll;
  min-height: 50vh;
  gap: 1rem;
}

.events {
  min-width: 30rem;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
}

.event-image {
  flex-grow: 1;
}

table {
  border-spacing: 0;
  border: 1px solid black;
  width: 100%;
}

thead {
  color: white;
  background-color: black;
}

td {
  padding: 1rem;
}

td,
th {
  border: 1px solid black;
  text-align: center;
}
